body{
    background-image: url(foodplate.jfif);
}
#plate1{
    width: 100%;
    height: 170px;
    background-color: white;
}
#pizza
{
    height: 150px;
    margin: 10px 20px;
    display: inline;
}
#pizzadis{
position: absolute;
left: 30%;
font-size: x-large;
top: 0px;
}
#but1{
    background-color: green;
    position: absolute;
    right: 60px;
    top: 20px;
    padding: 5px 10px;
}
#but1:hover{
    background-color: darkgreen;
}
#plate2{
    position: absolute;
    background-color: white;
    margin-top: 5px;
    width:100%;
    height: 170px;
    display:inline;
}
#burger
{
    position: absolute;
    height: 150px;
    margin: 10px 20px;
    display: inline;
}
#burgerdis{
position: absolute;
left: 30%;
font-size: x-large;
top: 0px;
}
#but2{
    background-color: green;
    position: absolute;
    right: 60px;
    top: 20px;
    padding: 5px 10px;
}
#but2:hover{
    background-color: darkgreen;
}
